@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: blanchedalmond;
}
.nav-items{
    display: flex;
    margin-top: 33px;
}
.nav-title{
    font-size:30px ;
    font-weight: 700;
    color: #131313;
    margin-top: 33px;
}
.nav-item{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #424242;
    margin-left:20px ;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner{
    max-width: 90%;
    margin: 0 auto;
}
.banner-img{
    width: 100%;
    margin-bottom: 30px;
}

.banner-title{
    font-size: 42px;
    font-weight: 700;
    color: #131313;
    text-align: center;
    margin-top: 68px;
}
.banner-des{
    font-size: 10px;
    color: #727272;
    margin: 16px 191px 20px ;
    text-align: center;
}
.banner-btn{
    background-color: rgba(255, 144, 14, 1.00);
    font-size: 14px;
    padding: 12px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}
.ban-btn{
    text-align: center;
    margin-bottom: 30px;
}
/* second */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 87px 0;
}
.team-img{
    width: 100%;
}
.grid-text{
    width: 360px;
    margin: 0 41px 0 48px;
}
.grid-title{
    font-size: 30px;
    color: #727272;
    margin-bottom: 16px;
}
.grid-des{
    font-size: 10px;
    color: #727272;
    margin-bottom: 20px;
}
.of-our{
    color: #131313;
    font-weight: 700;
}
.fea{
    color: #FF900E;
    font-weight: 700;
}

/* feature part */
.feature{
    display: flex;
}
.fea-box{
    width: 392px;
    padding: 20px 28px 20px 20px ;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin:0 97px 14px 0;
}
.fea-title{
    font-size: 14px;
    color: #131313;
    margin-bottom: 7px;
}
.fea-des{
   font-size: 10px;
   color: #727272;
}
.feature-title{
    font-size: 30px;
    color: #131313;
    font-weight: 700;
    margin:27px 0 16px 0;
}
.feature-des{
    font-size: 10px;
    color: #727272;
    margin-bottom: 20px;
 }
 .feature-box{
    max-width: 392px;
 }
 .feature-img{
    width: 100%;
 }
.button{
    background-color: #FF900E;
    padding: 30px;
    border: none;
    border-radius: 6px;
    font-size:17px ;
    color:#FFF4E7 ;
    margin-left: -61px;
    margin-top: -51px;
}
.year{
    font-size: 43px;
    font-weight: 700;
}



 .some-text{
    text-align: center;
    width: 363px;
    margin:  auto;
 }
 .some{
    font-size: 30px;
    font-weight: 700;
    color: #131313;
    margin: 87px 0 16px 0;
 }
 .some-des{
    font-size: 10px;
    color: #727272;
 }
 .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
 }
 .icon-card{
    padding: 28px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 6px;
    margin-top: 70px;
 }
 .card-id{
    color: #424242;
    font-size: 30px;
    margin: 6px 0 5px 0;
 }
 .card-title{
    color: #727272;
    font-size: 12px;
 }

.sponsor{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* align-items: center;
    justify-content: space-around; */
    margin: 33px 0 87px 0;
}
.spon{
    width: 111px;
}
/* */
.footer{
    background-color: #FFF4E7;
    color:#424242;
    font-size: 14px;
    padding: 24px 250px;
    border-radius: 8px;
}


/* responsive  */

/* mobile device */
/* @media screen and (max-width: 576px) {
    .navbar,
    .nav-items,
    .flex,
    .feature,
    .sponsor
    {
        flex-direction: column;
    } 
    .grid,
    .sponsor{
        grid-template-columns: repeat(1,1fr);
    }
    .button{
        margin-top: 20px;
        margin-left: 20px;
    }
    .feature-box, .fea-box{
        justify-content: center;
        gap: 16px;
    }
    .cards{
        grid-template-columns: 1fr;
    }   
} */